In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('essentialterms.tsv',delimiter='\t', header = None)
df.head()

,0,1,2
0,"If an object is attracted to a magnet, the obj...",5,"If,0|an,0|object,3|is,0|attracted,5|to,0|a,0|m..."
1,Animals get energy for growth and repair from ...,5,"Animals,4|get,1|energy,5|for,0|growth,4|and,0|..."
2,How long does it take for Earth to rotate on i...,5,"How,0|long,3|does,0|it,0|take,0|for,0|Earth,5|..."
3,What is the main source of energy for the wate...,5,"What,0|is,0|the,0|main,1|source,3|of,0|energy,..."
4,An example of a learned trait is (A) being abl...,5,"An,0|example,0|of,0|a,0|learned,5|trait,5|is,0"

In [3]:
df.drop(0, axis=1, inplace = True)
df.drop(1, axis = 1, inplace = True)
df.head()

                                                   2
0  If,0|an,0|object,3|is,0|attracted,5|to,0|a,0|m...
1  Animals,4|get,1|energy,5|for,0|growth,4|and,0|...
2  How,0|long,3|does,0|it,0|take,0|for,0|Earth,5|...
3  What,0|is,0|the,0|main,1|source,3|of,0|energy,...
4     An,0|example,0|of,0|a,0|learned,5|trait,5|is,0

In [4]:
df.to_csv (r'data.txt', index = None, header=False)

In [6]:
with open('data.txt') as fp:
    with open('mod_data.txt', 'w') as fp1:
        line = fp.readline()
        while(line):
            line = line.strip().strip("\"")
            line = line.replace(",", '/')
            line = line.replace('|', ' ')
            fp1.write(line)
            fp1.write('\n')
            line = fp.readline()

In [7]:
df = pd.read_csv('mod_data.txt',delimiter='\t', header = None)
df.head()

                                                   0
0  If/0 an/0 object/3 is/0 attracted/5 to/0 a/0 m...
1  Animals/4 get/1 energy/5 for/0 growth/4 and/0 ...
2  How/0 long/3 does/0 it/0 take/0 for/0 Earth/5 ...
3  What/0 is/0 the/0 main/1 source/3 of/0 energy/...
4     An/0 example/0 of/0 a/0 learned/5 trait/5 is/0

In [8]:
 X_train, X_test = train_test_split(df, test_size=0.2, random_state=1)

 X_train, X_val = train_test_split(X_train, test_size=0.2, random_state=1)

In [9]:
X_train.to_csv (r'train.txt', index = None, header=False)
X_test.to_csv (r'test.txt', index = None, header=False)
X_val.to_csv (r'val.txt', index = None, header=False)