In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from rake_nltk import Rake

In [2]:
df = pd.read_csv("follow_ML_data.csv")
df.head()

,Unnamed: 0,question,answer,generated_fq,valid followUp (y/n),rank,Unnamed: 6
0,781,Are you a risk taker or do you stay away from ...,Actually it depends upon the condition where a...,How would you describe your life?,NaN,NaN,Deep
1,1486,Are you a risk taker or do you stay away from ...,Actually it depends upon the condition where a...,How do I decide if I am a risk taker or a risk...,NaN,NaN,NaN
2,2645,Are you a risk taker or do you stay away from ...,Actually it depends upon the condition where a...,How much risk?,NaN,NaN,NaN
3,3486,Are you a risk taker or do you stay away from ...,Actually it depends upon the condition where a...,How would you describe the problem?,NaN,NaN,NaN
4,5165,Are you a risk taker or do you stay away from ...,Actually it depends upon the condition where a...,Why ?,NaN,NaN,NaN

In [3]:
df.drop("Unnamed: 0", axis = 1, inplace = True)
df.drop("valid followUp (y/n)", axis = 1, inplace = True)
df.drop("rank", axis = 1, inplace = True)
df.drop("Unnamed: 6", axis = 1, inplace = True)
df.drop("question", axis = 1, inplace = True)

In [4]:
X = df.copy()
X.drop("generated_fq", axis = 1, inplace = True)
y = df
y.drop("answer", axis = 1, inplace = True)
X.head()

                                              answer
0  Actually it depends upon the condition where a...
1  Actually it depends upon the condition where a...
2  Actually it depends upon the condition where a...
3  Actually it depends upon the condition where a...
4  Actually it depends upon the condition where a...

In [5]:
r = Rake()
X['keywords'] = 'default'
y['keywords'] = 'default'
X.shape

(21000, 2)

In [6]:
count = 0
for i in X.itertuples():
    text = i[1]
    r.extract_keywords_from_text(text)
    l1 = r.get_ranked_phrases()
    phrases = ""
    for j in l1:
        phrases = phrases + j + " "
    X.loc[count, 'keywords'] = phrases
    count += 1
    
count = 0
for i in y.itertuples():
    text = i[1]
    r.extract_keywords_from_text(text)
    l1 = r.get_ranked_phrases()
    phrases = ""
    for j in l1:
        phrases = phrases + j + ", "
    phrases.strip(', ')
    y.loc[count, 'keywords'] = phrases
    count += 1
    
X.head()

,answer,keywords
0,Actually it depends upon the condition where a...,would result would end typical cases losing so...
1,Actually it depends upon the condition where a...,would result would end typical cases losing so...
2,Actually it depends upon the condition where a...,would result would end typical cases losing so...
3,Actually it depends upon the condition where a...,would result would end typical cases losing so...
4,Actually it depends upon the condition where a...,would result would end typical cases losing so...

In [7]:
y.head()

,generated_fq,keywords
0,How would you describe your life?,"would, life, describe,"
1,How do I decide if I am a risk taker or a risk...,"risk taker, taker, risk, decide,"
2,How much risk?,"much risk,"
3,How would you describe the problem?,"would, problem, describe,"
4,Why ?,

In [8]:
xx = X.drop('answer', axis = 1, inplace = False)
y.drop('keywords', axis = 1, inplace = True)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(xx, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)
Test, garbage = train_test_split(X, test_size = 0.2, random_state = 1)
garbage.head()

,answer,keywords
8877,I have gone through the Job Description and I ...,real time problems gonna learn lot first step ...
18751,"During my graduation, we have done a project o...",greatest leadership achievement working togeth...
7926,I have absolutely no problem working under a p...,learn new stuff gather better experience small...
19643,Confidence is when somebody knows his or her s...,lacking substantial knowledge matter solely ba...
4641,I was working as a contract based software dev...,hard work never goes wasted worked together wi...

In [10]:
X_train.to_csv(r'src-train.txt', header=False, index = False, sep='\n', mode='w')
X_val.to_csv(r'src-val.txt', header=False, index = False, sep='\n', mode='w')
X_test.to_csv(r'src-test.txt', header=False, index = False, sep='\n', mode='w')
y_train.to_csv(r'tgt-train.txt', header=False, index = False, sep='\n', mode='w')
y_val.to_csv(r'tgt-val.txt', header=False, index = False, sep='\n', mode='w')
y_test.to_csv(r'tgt-test.txt', header=False, index = False, sep='\n', mode='w')

In [11]:
garbage.to_csv(r'input.csv', header = False, index = False)